<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giridharkarnik.moneymanager" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myMaterialStyle" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/myMaterialStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IncomeActivity"
            android:label="@string/title_activity_income" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giridharkarnik.moneymanager.MainActivity" />
        </activity>
        <activity
            android:name=".ExpenditureActivity"
            android:label="@string/title_activity_expenditure" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giridharkarnik.moneymanager.MainActivity" />
        </activity>
        <activity
            android:name=".modelobjects.FullStatsActivity"
            android:label="@string/title_activity_full_stats" >
        </activity>
        <activity
            android:name=".fieldRelatedClasses.FieldActivityNew"
            android:label="@string/title_activity_field_activity_new"
            android:parentActivityName=".MainActivity"
            android:theme="@style/fieldMaterialStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" >



        </activity>
        <activity
            android:name=".budgetClases.BudgetActivityNew"
            android:label="@string/title_activity_budget_activity_new"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>
